<?xml version='1.0' encoding='utf-8'?>
<plugin id="io.iclue.backgroundvideo" version="0.0.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>backgroundvideo</name>
    <description>A simple Cordova/Phonegap plugin to capture video and then display it onscreen via a transparent overlay without affecting app functionality.</description>
    <author>James McCallum and Josh Hayward support@iclue.io</author>
    
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <keywords>video, background, transparent, overlay, recording, camera</keywords>
    
    <license>GPL3</license>
 
    
    <js-module name="backgroundvideo" src="www/backgroundvideo.js">
        <clobbers target="cordova.plugins.backgroundvideo" />
    </js-module>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="backgroundvideo">
                <param name="ios-package" value="backgroundvideo"/>
            </feature>
        </config-file>
        
        <header-file src="src/ios/backgroundvideo.h" />
        <source-file src="src/ios/backgroundvideo.m" />
        <framework src="MediaPlayer.framework" weak="true" />
    </platform>
    

    <platform name="android">
    
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="backgroundvideo">
                <param name="android-package" value="io.iclue.backgroundvideo.BackgroundVideo"/>
            </feature>
        </config-file>
   
        
        <!-- add permissions in AndroidManifest.xml file-->
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            
            <uses-feature android:name="android.hardware.camera" android:required="false" />
            <uses-feature android:name="android.hardware.camera.front" android:required="false" />
            <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
        </config-file>

        <source-file src="src/android/BackgroundVideo.java" target-dir="src/io/iclue/backgroundvideo" />
        <source-file src="src/android/CameraHelper.java" target-dir="src/io/iclue/backgroundvideo" />
        <source-file src="src/android/Preview.java" target-dir="src/io/iclue/backgroundvideo" />
        <source-file src="src/android/PreviewType.java" target-dir="src/io/iclue/backgroundvideo" />
        <source-file src="src/android/SurfaceViewPreview.java" target-dir="src/io/iclue/backgroundvideo" />
        <source-file src="src/android/TextureViewPreview.java" target-dir="src/io/iclue/backgroundvideo" />
        <source-file src="src/android/VideoOverlay.java" target-dir="src/io/iclue/backgroundvideo" />
     </platform>
     
</plugin>
