<?xml version='1.0' encoding='utf-8'?>
<plugin id="iclue-backgroundvideo" version="0.0.11" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>backgroundvideo</name>
  <description>A simple Cordova/Phonegap plugin to capture video and preview onscreen via a transparent overlay without affecting app functionality.</description>
  <author>James McCallum and Josh Hayward, support@iclue.io</author>
  <repo>https://github.com/jamesla/backgroundvideo</repo>

  <engines>
    <engine name="cordova" version=">=4.0.0" />
  </engines>

  <keywords>video, background, transparent, overlay, recording, camera, cordova</keywords>

  <license>GPL3</license>


  <js-module name="backgroundvideo" src="www/backgroundvideo.js">
    <clobbers target="cordova.plugins.backgroundvideo" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="backgroundvideo">
        <param name="ios-package" value="backgroundvideo"/>
      </feature>
    </config-file>

    <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>Backgroundvideo cordova plugin</string>
    </config-file>

    <preference name="MICROPHONE_USAGE_DESCRIPTION" default=" " />
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
      <string>Backgroundvideo cordova plugin</string>
    </config-file>

    <header-file src="src/ios/backgroundvideo.h" />
    <source-file src="src/ios/backgroundvideo.m" />
    <framework src="MediaPlayer.framework" weak="true" />
  </platform>


  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="backgroundvideo">
        <param name="android-package" value="io.iclue.backgroundvideo.BackgroundVideo"/>
      </feature>
    </config-file>


    <!-- add permissions in AndroidManifest.xml file-->
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

      <uses-feature android:name="android.hardware.camera" android:required="true" />
      <uses-feature android:name="android.hardware.camera.front" android:required="false" />
      <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    </config-file>

    <source-file src="src/android/BackgroundVideo.java" target-dir="src/io/iclue/backgroundvideo" />
    <source-file src="src/android/CameraHelper.java" target-dir="src/io/iclue/backgroundvideo" />
    <source-file src="src/android/VideoOverlay.java" target-dir="src/io/iclue/backgroundvideo" />
  </platform>



  <!-- windows -->
  <platform name="windows">
    <config-file target="package.windows.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone" />
      <DeviceCapability Name="webcam" />
    </config-file>
    <config-file target="package.windows80.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone" />
      <DeviceCapability Name="webcam" />
    </config-file>
    <config-file target="package.phone.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone" />
      <DeviceCapability Name="webcam" />
    </config-file>
    <js-module src="src/windows/BackgroundVideoProxy.js" name="BackgroundVideoProxy">
      <merges target="" />
    </js-module>
  </platform>

  <platform name="windows8">
    <config-file target="package.windows.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone" />
      <DeviceCapability Name="webcam" />
    </config-file>
    <config-file target="package.windows80.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone" />
      <DeviceCapability Name="webcam" />
    </config-file>
    <config-file target="package.phone.appxmanifest" parent="/Package/Capabilities">
      <DeviceCapability Name="microphone" />
      <DeviceCapability Name="webcam" />
    </config-file>
    <js-module src="src/windows/BackgroundVideoProxy.js" name="BackgroundVideoProxy">
      <merges target="" />
    </js-module>
  </platform>

  <platform name="wp8">
    <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
      <Capability Name="ID_CAP_ISV_CAMERA" />
    </config-file>
  </platform>
</plugin>
